@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --background-color: #fafcfd;
    --texts-color: ##1a1a1a;
    --fields-title-color: #4a516eb3;
    --fields-border-color: #e7e7e7;
    --secondary-buttons-color: #ededed;
    --buttons-text-color: #04486b;
    --navBar-background-color: #ffffff;
    --navBar-shadow-color: #303f871a;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
}

.container-fluid {
    padding: 0 !important;
    margin-left: 55px !important;
    margin-right: 55px !important;
    z-index: 1;
}

nav {
    background: var(--navBar-background-color);
    box-shadow: 0px 6px 12px var(--navBar-shadow-color);

    .mobile-menu {
        cursor: pointer;
    }
    .primary-nav {
        float: right;
        list-style-type: none;
        display: block;
        margin-top: 4em;

        li {
            padding-bottom: 1em;
            align-content: right;
            text-align: end;
            a {
                text-decoration: none;

                &:hover:after {
                    margin-bottom: -3%;
                    content: "";
                    position: relative;
                    width: 35px;
                    display: block;
                    height: 4px;
                    background-color: var(--buttons-text-color);
                    border-radius: 2px;
                    bottom: 20%;
                    left: 76%;
                }
            }
        }
    }

    .secondary-nav {
        float: right;
        position: absolute;
        right: 1.5em;
        margin-top: 1em;

        li {
            text-decoration: none;
        }
    }

    ul {
        display: flex;
    }

    li.current a {
        font-weight: bold;
    }
}

a {
    color: var(--texts-color);
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 35px 55px 35px 55px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h4 {
    margin-top: 70px;
    font-size: 20px;
    color: var(--fields-title-color);
}

.btn {
    margin-left: 20px;
}

.general-btn {
    background-color: var(--secondary-buttons-color);
    color: var(--buttons-text-color);
    border: none;
    height: 3em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 19px;
    font-size: 12px;

    &:hover {
        box-shadow: 5px 5px 3px var(--navBar-shadow-color);
    }

    span {
        display: none;
    }
}

form {
    margin-top: 2em;

    .row {
        margin-top: 1em;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0.5em;
        color: var(--fields-title-color);
    }
}

input,
textarea {
    background: var(--background-color);
    height: 3em;
    width: 100%;
    padding: 0.8em;
    border-radius: 0.3em;
    border: 1px solid var(--fields-border-color);
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: 0.8em 2em;
    width: unset;

    &:hover {
        box-shadow: 5px 5px 3px gray;
    }
}

@media only screen and (min-width: 768px) {
    nav {
        height: 80px;
        .primary-nav {
            margin-top: 1em;
            width: 100%;
            margin-left: 5% !important;
            margin-right: 10% !important;
            display: flex;

            li {
                padding-right: 1em;
                text-align: left;
                display: block;
                a {
                    text-decoration: none;
                    text-align: center;

                    &:hover:after {
                        margin-top: -1em;
                        content: "";
                        position: relative;
                        width: 35px;
                        display: flex;
                        height: 4px;
                        background-color: var(--buttons-text-color);
                        border-radius: 2px;
                        bottom: -50%;
                        left: 0%;
                    }
                }
            }
        }

        .secondary-nav {
            display: block;
            li {
                img {
                    size: 100px;
                }
            }
        }

        ul {
            display: flex;
        }

        li.current a {
            font-weight: bold;
        }
    }

    .general-btn {
        img {
            margin-right: 10px;
        }
        span {
            display: inline-flex;
        }
    }
}

@media only screen and (min-width: 900px) {
    nav {
        .primary-nav {
            justify-content: space-between;
            margin-left: 10% !important;
            margin-right: 20% !important;
            li {
                a {
                    text-decoration: none;
                    text-align: left;

                    &:hover:after {
                        margin-top: -1em;
                        display: flow-root;
                        height: 4px;
                        bottom: -30%;
                        left: 0%;
                    }
                }
            }
        }

        .secondary-nav {
            margin-bottom: 1em;
            margin-left: 2em;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;

            a {
                text-decoration: none;
            }

            .navBar-user-settings-cta {
                width: 9px;
            }
        }

        li.current a {
            font-weight: bold;
        }
    }

    .hero .container {
        justify-content: space-between;
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    nav {
        .primary-nav {
            li {
                a {
                    &:hover:after {
                        bottom: -70%;
                        left: 0%;
                    }
                }
            }
        }
    }
}
